<div class="container">
  <h1 style="">{{title}}</h1>
  <br><br><br>

  <form>
    <input type="number" [(ngModel)]="num1" name="num1"><br><br>
    <input type="number" [(ngModel)]="num2" name="num2"><br>
    <br><br>
    <button (click)="sumar()" class="btn btn-primary">Sumar</button>
    <button (click)="restar()" class="btn btn-secondary">Restar</button>
    <button (click)="multiplicar()" class="btn btn-success">Multiplicar</button>
    <button (click)="dividir()" class="btn btn-warning">Dividir</button>
  </form>
  <br><br>
  <h3>El resultado de tu operación es: {{resultado}}</h3>
</div>
